@import "variables.scss";

@import "common.scss";

.#{$namespace}conversation-container {
  .#{$namespace}sender {
    align-items: center;
    display: flex;
    background-color: $grey-2;
    min-height: 30px;
    padding: 15px 5px;
   
  }
  
  .#{$namespace}new-message {
    font-size: 1em;
    width: 100%;
    border: 0;
    background-color: $grey-2;
    padding-left: 15px;
    font-family: $fontfamily;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  
  
  .#{$namespace}send {
    background: $grey-2;
    border: 0;
    padding-top:5px;
    padding-left:15px;
    
    
    .#{$namespace}send-icon {
      fill: #135afe;
      transition: fill 0.35s;
      cursor: pointer;
    }

    .#{$namespace}send-icon-ready {
      fill: #135afe;
      transition: fill 0.35s;
      position:absolute;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 800px)  {
    .#{$namespace}sender {
      border-radius: 0;
      flex-shrink: 0;
    }
  }
  
}

.#{$namespace}widget-embedded {
  .#{$namespace}sender {
    flex: 0, 0, auto;
    min-height: 35px;
  }
}